@charset "utf-8";
/* CSS Document */

body{
	background-image:url(city2.jpg)
	
}
p{
	color: yellow;
	
	
}
h1{
	color: white;
	text-align: center

}

#swag{
	
	float: left;
	align-self: center
	

}
h2{
	color:white;
}
tr:nth-child(even){
	background-color: #f2f2f2
}
tr:nth-child(odd){
	background-color:aqua
}
#chicken{
	float: right;
}